# Binary files
simscan
*.exe
*.out
*.dll
*.so
*.dylib

# Go-specific files
bin/
pkg/
*.a
*.o
*.cgo*
*.swp

# Dependency management
vendor/
go.sum
go.work

# Logs and debugging
*.log
*.test
*.prof

# IDE and editor settings
.idea/
.vscode/
*.iml
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.swp
*.bak
*.~undo-tree~

